html {
  padding:0;
  margin:0;
}



body {
  padding:0;
  margin: 0;
  position: relative;
  display: block;
}

*::selection {
  color:white;
  background-color:#e23636;
}

.pre-load-container {
  width:100%;
  opacity: 1;
  margin: 0;
  padding: 0;
  height:100%;
  position: fixed;
  background-color:white;
  transition: 300ms;
  pointer-events: none;
  animation-delay:4s;
  animation-duration:1s;
  animation-fill-mode: forwards;
  animation-name: loadingContainerFade ;
  animation-timing-function: ease-in-out;
}

.pre-load-name {
  font-family: amador, sans-serif;
  font-size:4.5vw;
  text-align: center;
  font-weight: 400;
  margin:0 auto;
  padding:0;
  margin-top: 35vh;
}

.pre-load-strapline {
  font-family: mrs-eaves-xl-serif, serif;
  font-size:1.35vw;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.loading-bar {
  width:40%;
  margin:0 auto;
  margin-top:2.75em;
  height:6px;
  border-radius: 100px;
  background-color: #D1D1D1;
}

.loading-text {
  font-family: mrs-eaves-xl-serif, serif;
  font-size:1.35vw;
  font-style: italic;
  text-align: center;
  margin: 0;
  margin-top:0.5em;
}

.loading-bar-progress {
  width:0%;
  margin:0;
  z-index: 200;
  height:6px;
  border-radius: 100px;
  background-color:#000000;
  animation-delay: 1s;
  animation-duration: 1.5s;
  animation-name: loadingBarAniamtion ;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.pre-load-content {
  opacity:0;
  animation-delay:0.5s;
  animation-duration:3s;
  animation-name: loadingContentFade ;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes loadingContainerFade {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes loadingContentFade {
  0% {
    opacity:0;
  }
  20% {
    opacity:1;
  }

80% {
  opacity:1;
}
  100% {
    opacity:0;
  }
}

@keyframes loadingBarAniamtion {

  0% {
    width:0%
  }

  100% {
    width:100%;
  }

}

.container {
  margin:0;
  padding: 0;
  width:98%;
  display: block;
  height: 20em;
  margin:0 auto;
  padding-top:1em;
}



.chapter-menu-container {
  width:100%;
  margin: 0;
  padding: 0;
  height:100%;
  background-color:#1E1E1E;
  position: fixed;
  overflow-y: scroll;
  opacity:0;
  z-index: -2;
  transition: 300ms;
  pointer-events: none;
}

.chapter-menu-container.menu-toggle{
  opacity: 1;
  display: block;
  z-index: 2;
  transition: 300ms;
  pointer-events:all;
}

.close-chapter-menu {
  margin:0 auto;
  font-style: italic;
  color:white;
  line-height: 1.2em;
  width:80%;
  display: block;
  text-align: center;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 600;
  font-size:1.75em;
  margin-top: 1em;
  transition: 200ms;
  cursor: pointer;
}

.close-chapter-menu:hover {
  color:#FF5B5B;
  transition: 200ms;
}

.chapter-menu-number {
  margin:0 auto;
  font-style: italic;
  color:white;
  line-height: 1.2em;
  display: block;
  text-align: center;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 600;
  font-size:1.75em;
  margin-top: 1em;
  opacity:0.5;
}

.chapter-menu-name {
  margin:0 auto;
  color:white;
  line-height: 1.2em;
  display: block;
  text-align: center;
  font-family: elmhurst, serif;
  font-weight: 600;
  font-size:2.5em;
  transition: 200ms;
  width:80%;
}

.chapter-menu-name a{
  text-decoration: none;
  color:white;
  transition: 200ms;
}

.chapter-menu-name a:hover{
  color:#FF5B5B;
  transition: 200ms;
}

.chapter-menu-item:hover>.chapter-menu-name{
  color:#FF5B5B;
  transition: 200ms;
}

.chapter-menu-item {
  margin-top: 3em;
  margin-bottom: 3em;
  cursor: pointer;
}

.chapter-menu-first-item {
  margin-top: 12em;
}















.mobile-issue-date {
  display: none;
}

.menu-mobile {
  display: none;
  transition: 250ms;
}

.menu-mobile:hover > .mobile-menu-hr {
  border:1px solid #e23636;
  transition: 250ms;
}

.menu-mobile:hover > .mobile-menu-link {
  color:#e23636;
}


.mobile-date-hr {
  display: none;
}

.col3-hr {
display: none;
}

.col1-hr {
  display: none;
}

.col2-hr {
display: none;
}

.col-1 {
  grid-column: 1/2;
  padding-left: 0.75em;
  padding-right:0.75em;
  padding-bottom: 1em;
}

.col-2 {
  grid-column: 2/3;
  padding-left: 0.75em;
  padding-right:0.75em;
  border-left: 2px solid black;
  padding-bottom: 1em;
}

.col-3 {
  grid-column: 3/4;
  padding-left: 0.75em;
  padding-right:0.75em;
  border-left: 2px solid black;
  padding-bottom: 1em;
}

.col-4 {
  grid-column: 4/5;
  padding-left:0.75em;
  padding-right:0.75em;
  border-left: 2px solid black;
  padding-bottom: 1em;
}

.col-5 {
  grid-column: 5/6;
  padding-left:0.75em;
  padding-right:0.75em;
  border-left: 2px solid black;
  padding-bottom: 1em;
}

.col-6 {
  grid-column: 6/7;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border-left: 2px solid black;
  padding-bottom: 1em;
}

footer {
  grid-column: 1/7;
  border-top: 2px solid black;
  padding-top: 2em;
  padding-bottom: 2em;
}

footer a {
  color:black;
  transition: 150ms;
}

footer a:hover {
  color:#e23636;
  transition: 150ms;
}

footer h4 {
  margin:0 auto;
  line-height: 1.2em;
  width:80%;
  display: block;
  text-align: center;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 400;
  font-size:0.875em;
  margin-top: 1em;
}

.outer-hr {
    height:0px;
    border-radius:5em;
    border: 1px solid black;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.sup-numero {
  vertical-align:4px;
  line-height: 0px;
  margin:0px;
  padding:0px;
  font-size:1em;
  display: inline;
}

sup {
  vertical-align:5px;
  line-height: 0;
  font-size: 0.75em;
 }

.double-line {
  margin-top: 0.75em;
}

.issue-info-bar {
  padding: 0;
  width:98%;
  display:flex;
  margin: 0 auto;
  justify-content:space-between;
}

.issue-info-bar h2 {
  font-family: elmhurst, serif;
  font-weight: 500;
  font-size:1.25em;
  margin:0;
  padding:0;
}

.top-nav-bar {
  display: flex;
  width:98%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items:flex-start;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.weather-box {
  width:20%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid black;
}

.weather-box h2 {
  margin:0 auto;
  font-family: mrs-eaves-xl-serif, serif;
  font-style: italic;
  display: block;
  text-align: center;
  font-size: 2.25em;
}
.weather-box p {
  font-family: mrs-eaves-xl-serif, serif;
  font-style: italic;
  font-size: 18px;
  text-indent: 30px;
  font-weight: 700;
  margin-top: 0.5em;
}

.weather-box-text {
  width:75%;
  margin: 0 auto;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.menu-box {
  width:20%;
  margin: 0;
  padding: 0;
  color:black;
  display: inline-block;
  box-sizing: border-box;
  align-self: center;
  transition: 200ms;
  cursor: pointer;
}

.menu-box:hover {
  color:#e23636;
  transition: 200ms;
  text-decoration: none;
}

.menu-box a {
  color:black;
  transition: 200ms;
  text-decoration: none;
}

.menu-box a:hover {
  color:#e23636;
  transition: 200ms;
  text-decoration: none;
}

.menu-box h2:hover {
  color:#e23636;
  transition: 200ms;
  text-decoration: none;
  border: 2px solid #e23636;
}

.menu-box h2 {
  margin:0 auto;
  font-family: mrs-eaves-xl-serif, serif;
  font-style: italic;
  margin: 0;
  display: block;
  text-align: center;
  vertical-align:middle;
  font-size:2.25em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: 2px solid black;
}

.menu-box-text {
  width:100%;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
}


.newspaper-brand-box {
  align-self:center;
  margin: 0 auto;
  padding:0;
  text-align: center;
}

.newspaper-name {
  font-family: amador, sans-serif;
  font-size:6.5rem;
  font-weight: 400;
  margin:0 auto;
  padding:0;
}

.newspaper-strapline {
  font-family: mrs-eaves-xl-serif, serif;
  font-size:1.75em;
  font-style: italic;
  margin: 0;
}

.headline-container {
  margin: 0 auto;
  display:block;
}
.main-headline {
  text-transform: uppercase;
  width:100%;
  margin: 0 auto;
  display:block;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 5.2vw;
  letter-spacing:3px;
  font-family: elmhurst, sans-serif;
  font-weight: 800;
  text-align: center;
}


 /* Start of Article Content */

.article-container {
  width:100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid black;
  margin-bottom: 1.25em;
}


.article-headline {
  font-family: elmhurst,sans-serif;
  font-weight: 800;
  font-size:1.5rem;
  line-height: 1.2em;
  margin:0 auto;
  margin-top:1.458em;
  text-align: center;
}

.connected-headline {
  margin-top:0.833em;
}

.person-headline {
  margin-top:0.833em;
}

.bolder {
  font-weight: bolder;
}

.italic {
  font-style:italic
}

.photo-caption {
  font-size: 0.875rem;
  font-family: mrs-eaves-xl-serif, serif;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  margin-top: 0.325em;
  margin-bottom: 0.625em;
}


.caption-hr {
  width:25%;
  height:0px;
  border-radius:5em;
  border: 1px solid black;
  padding:0;
  margin-top: 0.625em;
  margin: 0 auto;
}

.subheadline {
  margin-top: 1.250em;
}

.list-subheadline {
  margin-top: 1.877em;
}

.subheadline-hr {
  width:50%;
  height:0px;
  border-radius:5em;
  border: 1px solid black;
  padding:0;
  margin: 0 auto;
}

.article-subheadline {
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 600;
  font-style: italic;
  font-size:1.125em;
  text-align: center;
  margin: 0;
  line-height: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.article-para {
  margin:0;
  padding: 0;
  font-family: mrs-eaves-xl-serif, serif;
  font-size:1rem;
  margin-bottom: 0.50em;
  line-height:1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dinkus {
  margin:0 auto;
  display: block;
  text-align: center;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 600;
  font-size:1.250em;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dinkus-space {
  margin:5px;
}

.indent-para {
  text-indent: 30px;
}



.first-para {
  margin-top:1.250em;
}

.drop-capped::first-letter {
  font-size:225%;
  font-weight: 700;
  float: left;
  line-height: 34px;
  padding-right: 7px;
}

.article-hr {
    width:98%;
    height:0px;
    border-radius:5em;
    border: 1px solid black;
    padding:0;
    margin: 0 auto;
    margin-top:1.875em;
    margin-bottom:1.875em;
}

.last-hr {
  margin-bottom: 2em;
}

.sherlock-symbol {
  width:6em;
  margin:0 auto;
  padding-top:1.250em;
  display: block;
}

.mid-symbol {
  padding: 0;
}

.sherlock-symbol svg{
  width:100%;
}


.person-image {
  width:100%;
  margin-top: 1.250em;
  margin-bottom: 0.25em;
}

.person-image img {
  width:100%;
  height:auto;
}

.subheadline-image {
  margin-top:1.250em;
}

.image-para {
  margin-top: 1em;
}

.col-4 ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1em;
  margin-top:1.250em;
  margin-bottom:1.250em;

}
.col-4 li {
  text-decoration: none;
    list-style: none;
    margin-top:0.75em;
}

.advertisment-subheadline {
  width:90%;
  margin: 0 auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.list-numero {
  vertical-align:3px;
  font-size:1em;
  margin-left: 1px;
}

.advertisment-para {
  width:85%;
  margin: 0 auto;
}

.early-para {
  margin-top:1.250em;
}


.advertisment-box {
  width:98%;
  margin: 0 auto;
  border: 2px solid black;
  margin-top:1.875em;
  padding-top: 2.5em;
  margin-bottom: 1.250em;
  padding-bottom: 2.5em;
}

.advertisment-headline {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0em;
  margin-bottom: 1em;
}

.first-item-focus {
opacity: 0.25;
transition: 300ms;

}


.first-item-focus-before {
  opacity:1;
  transition: 300ms;

}

@media (max-width:1440px) {

  .pre-load-container {
    width:100%;
    opacity: 1;
    margin: 0;
    padding: 0;
    height:100%;
    position: fixed;
    background-color:white;
    transition: 300ms;
    pointer-events: none;
    animation-delay:4s;
    animation-duration:1s;
    animation-fill-mode: forwards;
    animation-name: loadingContainerFade ;
    animation-timing-function: ease-in-out;
  }

  .pre-load-name {
    font-family: amador, sans-serif;
    font-size:4.5vw;
    text-align: center;
    font-weight: 400;
    margin:0 auto;
    padding:0;
    margin-top: 35vh;
  }

  .pre-load-strapline {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:1.35vw;
    font-style: italic;
    text-align: center;
    margin: 0;
  }

  .loading-bar {
    width:40%;
    margin:0 auto;
    margin-top:2.75em;
    height:6px;
    border-radius: 100px;
    background-color: #D1D1D1;
  }

  .loading-text {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:1.35vw;
    font-style: italic;
    text-align: center;
    margin: 0;
    margin-top:0.5em;
  }

  .loading-bar-progress {
    width:0%;
    margin:0;
    z-index: 200;
    height:6px;
    border-radius: 100px;
    background-color:#000000;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-name: loadingBarAniamtion ;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .pre-load-content {
    opacity:0;
    animation-delay:0.5s;
    animation-duration:3s;
    animation-name: loadingContentFade ;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }



























  .close-chapter-menu {
    font-size:1.75em;
    margin-top: 1em;
  }

  .chapter-menu-number {
    font-size:1.75em;
    margin-top: 1em;
  }

  .chapter-menu-name {
    font-size:2.25em;
  }

  .chapter-menu-item {
    margin-top: 3em;
    margin-bottom: 3em;
    cursor: pointer;
  }

  .chapter-menu-first-item {
    margin-top: 10em;
  }





  .col3-hr {
    border:1px solid black;
    width:98%;
    display:block;
  }

.col-1 {
  grid-column:1/3;

}

.col-2 {
  grid-column:3/5;

}

.col-3 {
  grid-column:5/7;

}

.col-4 {
  grid-column:1/3;
  border-left: 0px solid black;
}

.col-5 {
  grid-column:3/5;
}

.col-6 {
  grid-column:5/7;
}

.double-line {
  margin-top: 0.75em;
}

.issue-info-bar {
  padding: 0;
  width:98%;
  display:flex;
  margin: 0 auto;
  justify-content:space-between;
}

.issue-info-bar h2 {
  font-family: elmhurst, serif;
  font-weight: 500;
  font-size:1.25em;
  margin:0;
  padding:0;
}

.top-nav-bar {
  display: flex;
  width:98%;
  margin: 0 auto;
  justify-content: flex-start;
  align-items:flex-start;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.weather-box {
  width:20%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 2px solid black;
}

.weather-box h2 {
  margin:0 auto;
  font-family: mrs-eaves-xl-serif, serif;
  font-style: italic;
  display: block;
  text-align: center;
  font-size: 1.75em;
}
.weather-box p {
  font-family: mrs-eaves-xl-serif, serif;
  font-style: italic;
  font-size: 1em;
  text-indent: 30px;
  font-weight: 700;
  margin-top: 0.5em;
}

.weather-box-text {
  width:75%;
  margin: 0 auto;
  display: block;
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.menu-box {
  width:20%;
  margin: 0;
  padding: 0;
  color:black;
  display: inline-block;
  box-sizing: border-box;
  align-self: center;
  transition: 200ms;
}

.menu-box:hover {
  color:#e23636;
  transition: 200ms;
  text-decoration: none;
}

.menu-box a {
  color:black;
  transition: 200ms;
  text-decoration: none;
}

.menu-box a:hover {
  color:#e23636;
  transition: 200ms;
  text-decoration: none;
}

.menu-box h2 {
  margin:0 auto;
  font-family: mrs-eaves-xl-serif, serif;
  font-style: italic;
  margin: 0;
  font-style: italic;
  display: block;
  text-align: center;
  vertical-align:middle;
  font-size:2.25em;
  padding-left: 1em;
  padding-right: 1em;
}

.menu-box-text {
  width:100%;
  margin: 0 auto;
  display: block;
  vertical-align: middle;
}

.newspaper-brand-box {
  align-self:center;
  margin: 0 auto;
  padding:0;
  text-align: center;
}

.newspaper-name {
  font-family: amador, sans-serif;
  font-size:5rem;
  font-weight: 400;
  margin:0 auto;
  padding:0;
}

.newspaper-strapline {
  font-family: mrs-eaves-xl-serif, serif;
  font-size:1.75em;
  font-style: italic;
  margin: 0;
}

.headline-container {
  margin: 0 auto;
  display:block;
}
.main-headline {
  text-transform: uppercase;
  width:100%;
  margin: 0 auto;
  display:block;
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 5.2vw;
  letter-spacing:3px;
  font-family: elmhurst, sans-serif;
  font-weight: 800;
  text-align: center;
}








.article-container {
  width:100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid black;
  margin-bottom: 1.25em;
}

.connected-headline {
  margin-top:1.458em;
  padding-
}

.symbol-headline {
  margin-top:0.5em;
}

.bolder {
  font-weight: bolder;
}

.italic {
  font-style:italic
}

.photo-caption {
  font-size: 0.875rem;
  font-family: mrs-eaves-xl-serif, serif;
  font-style: italic;
  text-align: center;
  margin: 0 auto;
  font-weight: 500;
  margin-top: 0.325em;
  margin-bottom: 0.625em;
}

.article-headline {
  width:85%;
}

.caption-hr {
  width:25%;
  height:0px;
  border-radius:5em;
  border: 1px solid black;
  padding:0;
  margin-top: 0.625em;
  margin: 0 auto;
}

.subheadline {
  width:85%;
  margin: 0 auto;
  margin-top: 1.250em;
  text-align: center;
}

.list-subheadline {
  margin-top: 1.877em;
}

.subheadline-hr {
  height:0px;
  border-radius:5em;
  border: 1px solid black;
  padding:0;
  margin: 0 auto;
}

.article-subheadline {
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 600;
  font-style: italic;
  font-size:1.125em;
  text-align: center;
  margin: 0;
  line-height: 1.2em;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.end-subheadline {
  margin-top: 1.875em;
}

.article-para {
  margin:0 auto;
  width:97%;
  padding: 0;
  font-family: mrs-eaves-xl-serif, serif;
  font-size:1rem;
  margin-bottom: 0.50em;
  line-height:1.2rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dinkus {
  margin:0 auto;
  display: block;
  text-align: center;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 600;
  font-size:1.250em;
  margin-top: 5px;
  margin-bottom: 5px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dinkus-space {
  margin:5px;
}

.indent-para {
  text-indent: 30px;
}



.first-para {
  margin-top:1.250em;
}

.article-hr {
    width:98%;
    height:0px;
    border-radius:5em;
    border: 1px solid black;
    padding:0;
    margin: 0 auto;
    margin-top:1.875em;
    margin-bottom:1.875em;
}

.last-hr {
  margin-bottom: 2em;
}




.sherlock-symbol {
  width:6em;
  margin:0 auto;
  padding-top:1.250em;
  display: block;
}

.sherlock-symbol svg{
  width:100%;
}

.person-image {
  width:80%;
  margin: 0 auto;
  margin-top: 1.250em;
  margin-bottom: 0.25em;
}

.person-image img {
  width:100%;
  height:auto;
}

.subheadline-image {
  margin-top:1.250em;
}

.image-para {
  margin-top: 1em;
}

.col-4 ul {
  width:97%;
  text-decoration: none;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 800;
  font-style: italic;
  font-size: 1em;
  margin-top:1.25em;
  margin-bottom:1.25em;

}
.col-4 li {
  text-decoration: none;
    list-style: none;
    margin-top:0.5em;
}

.advertisment-subheadline {
  width:80%;
  margin: 0 auto;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.list-numero {
  vertical-align:3px;
  font-size:1em;
  margin-left: 1px;
}

.advertisment-para {
  width:80%;
  margin: 0 auto;
}

.early-para {
  margin-top:1.250em;
}


.advertisment-box {
  width:98%;
  border: 2px solid black;
  margin-top:1.875em;
  padding-top: 2.5em;
  margin-bottom: 1.250em;
  padding-bottom: 2.5em;
}

.advertisment-headline {
  margin-top: 0;
  margin-bottom: 0;
  margin-top: 0em;
  margin-bottom: 1em;
}

}

@media (max-width:1024px) {

  .close-chapter-menu {
    font-size:1.5em;
    margin-top: 1em;
  }


  .chapter-menu-number {
    font-size:1.5em;
    margin-top: 1em;
  }

  .chapter-menu-name {
    font-size:2em;
  }


  .chapter-menu-item {
    margin-top: 5em;
    margin-bottom: 5em;
    cursor: pointer;
  }

  .chapter-menu-first-item {
    margin-top: 14em;
  }






























.outer-mobile-hr {
  display: none;
}

.col3-hr {
  border:1px solid black;
  width:98%;
  display:block;
}


.col-1 {
grid-column:1/3;

}

.col-2 {
grid-column:3/5;

}

.col-3 {
grid-column:5/7;

}

.col-4 {
grid-column:1/3;
border-left: 0px solid black;
}

.col-5 {
grid-column:3/5;
}

.col-6 {
grid-column:5/7;
}

.double-line {
margin-top: 0.75em;
}

.issue-info-bar {
padding: 0;
width:98%;
display:flex;
margin: 0 auto;
justify-content:space-between;
}

.issue-info-bar h2 {
font-family: elmhurst, serif;
font-weight: 500;
font-size:1.10em;
margin:0;
padding:0;
}

.top-nav-bar {
display: flex;
width:98%;
margin: 0 auto;
justify-content: flex-start;
align-items:flex-start;
margin-top: 1.5em;
margin-bottom: 1.5em;
}

.weather-box {
display: none;
}


.menu-box {
display: none;
}

.newspaper-brand-box {
align-self:center;
margin: 0 auto;
padding:0;
text-align: center;
}

.newspaper-name {
font-family: amador, sans-serif;
font-size:10vw;
font-weight: 400;
margin:0 auto;
padding:0;
}

.newspaper-strapline {
font-family: mrs-eaves-xl-serif, serif;
font-size:1.5em;
font-style: italic;
margin: 0;
}

.headline-container {
margin: 0 auto;
display:block;
}
.main-headline {
text-transform: uppercase;
width:100%;
margin: 0 auto;
display:block;
margin-top: 1vh;
margin-bottom: 1vh;
font-size: 4.9vw;
letter-spacing:3px;
font-family: elmhurst, sans-serif;
font-weight: 800;
text-align: center;
}








.article-container {
width:100%;
margin: 0;
padding: 0;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
border: 2px solid black;
margin-bottom: 1.25em;
}

.connected-headline {
margin-top:1.458em;
}

.bolder {
font-weight: bolder;
}

.italic {
font-style:italic
}

.photo-caption {
font-size: 0.875rem;
font-family: mrs-eaves-xl-serif, serif;
font-style: italic;
text-align: center;
margin: 0 auto;
font-weight: 500;
margin-top: 0.325em;
margin-bottom: 0.625em;
}

.article-headline {
width:97%;
}

.caption-hr {
width:25%;
height:0px;
border-radius:5em;
border: 1px solid black;
padding:0;
margin-top: 0.625em;
margin: 0 auto;
}

.subheadline {
width:85%;
margin: 0 auto;
margin-top: 1.250em;
text-align: center;
}

.list-subheadline {
margin-top: 1.877em;
}

.subheadline-hr {
height:0px;
border-radius:5em;
border: 1px solid black;
padding:0;
margin: 0 auto;
}

.article-subheadline {
font-family: mrs-eaves-xl-serif, serif;
font-weight: 600;
font-style: italic;
font-size:1.125em;
text-align: center;
margin: 0;
line-height: 1.2em;
margin-top: 0.75em;
margin-bottom: 0.75em;
}

.end-subheadline {
margin-top: 1.875em;
}

.article-para {
margin:0 auto;
width:97%;
padding: 0;
font-family: mrs-eaves-xl-serif, serif;
font-size:1rem;
margin-bottom: 0.50em;
line-height:1.2rem;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.dinkus {
margin:0 auto;
display: block;
text-align: center;
font-family: mrs-eaves-xl-serif, serif;
font-weight: 600;
font-size:1.250em;
margin-top: 5px;
margin-bottom: 5px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.dinkus-space {
margin:5px;
}

.indent-para {
text-indent: 30px;
}



.first-para {
margin-top:1.250em;
}

.article-hr {
  width:98%;
  height:0px;
  border-radius:5em;
  border: 1px solid black;
  padding:0;
  margin: 0 auto;
  margin-top:1.875em;
  margin-bottom:1.875em;
}

.last-hr {
margin-bottom: 2em;
}




.sherlock-symbol {
width:6em;
margin:0 auto;
margin-top:1.250em;
display: block;
}

.sherlock-symbol svg{
width:100%;
}

.person-image {
width:97%;
margin: 0 auto;
margin-top: 1.250em;
margin-bottom: 0.25em;
}

.person-image img {
width:100%;
height:auto;
}

.subheadline-image {
margin-top:1.250em;
}

.image-para {
margin-top: 1em;
}

.col-4 ul {
width:80%;
text-decoration: none;
list-style: none;
margin: 0 auto;
padding: 0;
font-family: mrs-eaves-xl-serif, serif;
font-weight: 800;
font-style: italic;
font-size: 1em;
margin-top:1.250em;
margin-bottom:1.250em;

}
.col-4 li {
text-decoration: none;
  list-style: none;
  margin-top:0.5em;
}

.advertisment-subheadline {
width:80%;
margin: 0 auto;
margin-top: 0.75em;
margin-bottom: 0.75em;
}

.list-numero {
vertical-align:3px;
font-size:1em;
margin-left: 1px;
}

.advertisment-para {
width:80%;
margin: 0 auto;
}

.early-para {
margin-top:1.250em;
}


.advertisment-box {
width:98%;
border: 2px solid black;
margin-top:1.875em;
padding-top: 2.5em;
margin-bottom: 1.250em;
padding-bottom: 2.5em;
}

.advertisment-headline {
margin-top: 0;
margin-bottom: 0;
margin-top: 0em;
margin-bottom: 1em;
}

.menu-mobile {
display: block;
width:100%;
text-decoration: none;
}

.double-line {
  margin: 0;
  padding: 0;
}

.menu-mobile h4 {
text-align: center;
margin: 0;
padding: 0;
font-family: elmhurst, serif;
font-size: 1.5em;
margin-bottom: 0.25em;
margin-top: 0.25em;
}

.mobile-menu-link {
  text-decoration: none;
  color:black;
  transition: 250ms;
  cursor: pointer;
}

.mobile-menu-link:hover {
color:#e23636;
transition: 250ms;
}

}

@media (max-width:768px) {

  .loading-bar {
    height:4px;
  }

  .loading-bar-progress {
    height:4px;
  }


  .pre-load-container {
    width:100%;
    opacity: 1;
    margin: 0;
    padding: 0;
    height:100%;
    position: fixed;
    background-color:white;
    transition: 300ms;
    pointer-events: none;
    animation-delay:4s;
    animation-duration:1s;
    animation-fill-mode: forwards;
    animation-name: loadingContainerFade ;
    animation-timing-function: ease-in-out;
  }

  .pre-load-name {
    font-family: amador, sans-serif;
    font-size:9vw;
    text-align: center;
    font-weight: 400;
    margin:0 auto;
    padding:0;
    margin-top: 40vh;
  }

  .pre-load-strapline {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:3vw;
    font-style: italic;
    text-align: center;
    margin: 0;
  }

  .loading-bar {
    width:70%;
    margin:0 auto;
    margin-top:2.75em;
    height:6px;
    border-radius: 100px;
    background-color: #D1D1D1;
  }

  .loading-text {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:3vw;
    font-style: italic;
    text-align: center;
    margin: 0;
    margin-top:0.5em;
  }

  .loading-bar-progress {
    width:0%;
    margin:0;
    z-index: 200;
    height:6px;
    border-radius: 100px;
    background-color:#000000;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-name: loadingBarAniamtion ;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .pre-load-content {
    opacity:0;
    animation-delay:0.5s;
    animation-duration:3s;
    animation-name: loadingContentFade ;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }















    .close-chapter-menu {
      font-size:1.5em;
      margin-top: 1em;
    }
    .chapter-menu-number {
      font-size:1.5em;
      margin-top: 1em;
    }

    .chapter-menu-name {
      font-size:2em;
    }

    .chapter-menu-item {
      margin-top: 5em;
      margin-bottom: 5em;
      cursor: pointer;
    }

    .chapter-menu-first-item {
      margin-top: 12em;
    }

  .container {
    width:97%;
  }

  footer h4 {
    text-align: left ;
  }

  .advertisment-box {
    width:97%;
  }

  .col3-hr {
  display: none;
  }

  .col2-hr {
    border:1px solid black;
    width:98%;
    display:block;
  }

.col-1 {
  grid-column: 1/4;
}

.col-2 {
  grid-column: 4/7;
}

.col-3 {
  grid-column: 1/4;
  border-left:none;
}

.col-4 {
  grid-column: 4/7;
  border-left: 2px solid black;
}

.col-5 {
  grid-column: 1/4;
  border-left:none;
}

.col-6 {
  grid-column: 4/7;
}




.issue-info-bar h2 {
font-size:1em;
margin:0;
padding:0;
}

.newspaper-strapline {
font-family: mrs-eaves-xl-serif, serif;
font-size:1.5em;
font-style: italic;
margin: 0;
}

.mobile-main-headline {
  display: block;
  width:100%;
  font-size:14vw;
  /* font-size: 8vw; */
  line-height: 0.8em;
}


.main-headline {
  display: block;
  width:100%;
  font-size:8vw;
}

}

@media (max-width:560px) {

  .loading-bar {
    height:4px;
  }

  .loading-bar-progress {
    height:4px;
  }

  .pre-load-strapline {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:4vw;
    font-style: italic;
    text-align: center;
    margin: 0;
  }


.article-para {
  width:90%;
}

.person-image {
  width:90%;
}

.advertisment-para {
width:80%;
}

    .container {
      padding-top: 0.25em;
    }

    .close-chapter-menu {
      font-size:1.5em;
      margin-top: 1em;
    }

    .chapter-menu-number {
      font-size:1.5em;
      margin-top: 1em;
    }

    .chapter-menu-name {
      font-size:1.5em;
    }

    .chapter-menu-item {
      margin-top: 3em;
      margin-bottom: 3em;
      cursor: pointer;
    }

    .chapter-menu-first-item {
      margin-top: 2em;
    }

.issue-info-bar h2 {
  font-family: elmhurst, serif;
  font-weight: 500;
  font-size:0.75em;
  margin:0;
  padding:0;
}

.mobile-date-hr {
  border:1px solid black;
  display: none;
}

.mobile-issue-date {
  font-family: elmhurst, serif;
  font-weight: 500;
  font-size:0.75em;
  margin:0 auto;
  padding:0;
  text-align: center;
  display:none;
}


.col2-hr {
  display: none;
}

.col1-hr {
  grid-column: 1/7;
  border:1px solid black;
  width:95%;
  display:block;
}

.col-1 {
  grid-column: 1/7;
  border: none;
}

.col-2 {
  grid-column: 1/7;
  border: none;
}

.col-3 {
  grid-column: 1/7;
  border: none;
}

.col-4 {
  grid-column: 1/7;
  border: none;
}

.col-5 {
  grid-column: 1/7;
  border: none;
}

.col-6 {
  grid-column: 1/7;
  border: none;
}

footer h4 {
  margin:0 auto;
  width:86%;
  line-height: 1.2em;
  display: block;
  text-align: left ;
  font-family: mrs-eaves-xl-serif, serif;
  font-weight: 400;
  font-size:0.875em;
  margin-top: 1em;
}

.newspaper-strapline {
font-family: mrs-eaves-xl-serif, serif;
font-size:1.2em;
font-style: italic;
margin: 0;
}


.mobile-main-headline {
  display: block;
  width:100%;
  font-size:14vw;
  /* font-size: 8vw; */
  line-height: 0.8em;
}


.main-headline {
  display: block;
  width:100%;
  font-size:7.5vw;
}


}

@media (max-width:414px) {


  .loading-bar {
    height:4px;
  }

  .loading-bar-progress {
    height:4px;
  }


  .pre-load-container {
    width:100%;
    opacity: 1;
    margin: 0;
    padding: 0;
    height:100%;
    position: fixed;
    background-color:white;
    transition: 300ms;
    pointer-events: none;
    animation-delay:4s;
    animation-duration:1s;
    animation-fill-mode: forwards;
    animation-name: loadingContainerFade ;
    animation-timing-function: ease-in-out;
  }

  .pre-load-name {
    font-family: amador, sans-serif;
    font-size:9vw;
    text-align: center;
    font-weight: 400;
    margin:0 auto;
    padding:0;
    margin-top: 35vh;
  }

  .pre-load-strapline {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:4vw;
    font-style: italic;
    text-align: center;
    margin: 0;
  }

  .loading-bar {
    width:70%;
    margin:0 auto;
    margin-top:2.75em;
    height:4px;
    border-radius: 100px;
    background-color: #D1D1D1;
  }

  .loading-text {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:3vw;
    font-style: italic;
    text-align: center;
    margin: 0;
    margin-top:0.5em;
  }

  .loading-bar-progress {
    width:0%;
    margin:0;
    z-index: 200;
    height:4px;
    border-radius: 100px;
    background-color:#000000;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-name: loadingBarAniamtion ;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .pre-load-content {
    opacity:0;
    animation-delay:0.5s;
    animation-duration:3s;
    animation-name: loadingContentFade ;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }


  .loading-bar {
    height:4px;
  }

  .loading-bar-progress {
    height:4px;
  }

  .pre-load-strapline {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:4vw;
    font-style: italic;
    text-align: center;
    margin: 0;
  }



.issue-info-bar {
  display: none;
}

.menu-mobile h4 {
text-align: center;
margin: 0;
padding: 0;
font-family: elmhurst, serif;
font-size: 1.25em;
margin-bottom: 0.25em;
margin-top: 0.25em;
}

.mobile-menu-hr {
  margin:0;
  padding:0;
}

.newspaper-name {
  font-size:10.75vw;
}

.newspaper-strapline {
font-family: mrs-eaves-xl-serif, serif;
font-size:5vw;
font-style: italic;
margin: 0;
}

  .issue-date {
    display: none;
  }

.container{
  padding-top: 0.5em;
}

  .mobile-issue-date {
    font-family: elmhurst, serif;
    font-weight: 500;
    font-size:0.75em;
    margin:0 auto;
    padding:0;
    text-align: center;
    display:block;
  }

  .close-chapter-menu {
    font-size:1em;
    margin-top: 1em;
  }

  .chapter-menu-number {
    font-size:1em;
    margin-top:0.75em;
  }

  .chapter-menu-name {
    font-size:1em;
  }

  .chapter-menu-item {
    margin-top: 3em;
    margin-bottom: 3em;
    cursor: pointer;
  }

  .chapter-menu-first-item {
    margin-top:5em;
  }

}








@media only screen (max-width:375px)  {


  .loading-bar {
    height:4px;
  }

  .loading-bar-progress {
    height:4px;
  }


  .pre-load-container {
    width:100%;
    opacity: 1;
    margin: 0;
    padding: 0;
    height:100%;
    position: fixed;
    background-color:white;
    transition: 300ms;
    pointer-events: none;
    animation-delay:4s;
    animation-duration:1s;
    animation-fill-mode: forwards;
    animation-name: loadingContainerFade ;
    animation-timing-function: ease-in-out;
  }

  .pre-load-name {
    font-family: amador, sans-serif;
    font-size:9vw;
    text-align: center;
    font-weight: 400;
    margin:0 auto;
    padding:0;
    margin-top: 0vh;
  }

  .pre-load-strapline {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:4vw;
    font-style: italic;
    text-align: center;
    margin: 0;
  }

  .loading-bar {
    width:70%;
    margin:0 auto;
    margin-top:2.75em;
    height:4px;
    border-radius: 100px;
    background-color: #D1D1D1;
  }

  .loading-text {
    font-family: mrs-eaves-xl-serif, serif;
    font-size:3vw;
    font-style: italic;
    text-align: center;
    margin: 0;
    margin-top:0.5em;
  }

  .loading-bar-progress {
    width:0%;
    margin:0;
    z-index: 200;
    height:4px;
    border-radius: 100px;
    background-color:#000000;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-name: loadingBarAniamtion ;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }

  .pre-load-content {
    opacity:0;
    animation-delay:0.5s;
    animation-duration:3s;
    animation-name: loadingContentFade ;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }





  .close-chapter-menu {
    font-size:1em;
  }

  .close-chapter-menu:hover {
    color:#FF5B5B;
    transition: 200ms;
  }

  .chapter-menu-number {
    font-size:0.75em;
    margin-top: 1em;
  }

  .chapter-menu-name {
    font-size:1em;
  }

  .chapter-menu-item {
    margin-top: 3em;
    margin-bottom: 3em;
    cursor: pointer;
  }

  .chapter-menu-first-item {
    margin-top: 5em;
  }

}


/*Mobile Chapter Menu Landscape */


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 823px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {


    .close-chapter-menu {
      font-size:0.75em;
    }

    .close-chapter-menu:hover {
      color:#FF5B5B;
      transition: 200ms;
    }

    .chapter-menu-number {
      font-size:0.75em;
      margin-top: 1em;
    }

    .chapter-menu-name {
      font-size:1em;
    }

    .chapter-menu-item {
      margin-top:1.5em;
      margin-bottom: 1.5em;
      cursor: pointer;
    }

    .chapter-menu-first-item {
      margin-top: 2.5em;
    }

  }

}
